
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="mainApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-controller="mainController">

    <h2>withControllerAs Directive</h2>
    <with-controller-directive data-source="customers"></with-controller-directive>

    <script src="~/scripts/angular.min.js"></script>
    <script src="~/Content/js/modules/mainApp.js"></script>
    <script src="~/Content/js/controllers/mainController.js"></script>
    <script src="~/Content/js/directives/controllerAs/withControllerAs.js"></script>
</body>
</html>
